.footer {
    margin:0;
    background-color: $darkblue;
    color: $white;

    &__con {
        padding: 2rem
    }

    &__grid {
        display: flex;
        justify-content: center;

        @include breakpoints-down(medium) {
            flex-direction: column;
        }
    }

    &__item {
        margin-right: 3rem;
        margin-left: 3rem;

        @include breakpoints-down(medium) {
            text-align: center;
        }

        img {
            max-width: 10rem;
            height: auto;
        }

        h5 {
            font-weight: 100;
        }
        
        .fab {
            color: $white;
            font-size: 2rem;
        
            &:hover {
                color: $skyblue;
            }
        }
    }
}